@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color:whitesmoke;
    background: #fc7f3c;
}
section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    background-color: transparent;
}
.layer1{
    background-image: url('Images/wave_top.svg');
}